* {
	font-family: 'Montserrat', sans-serif;
}
#top-spacer{
	height: 20px;
}
.calendar-wrapper{
	width:100%;
}

.calendar-grid-container{
    max-width: 100%;
  /*   display: flex; */
}

.today-date-container{
	max-width: 100%;
 	display: flex; 
 	margin:20px 0;
}

.user-picked-date-container{
	max-width: 20%;
 	display: flex; 
 	margin:20px auto;
}

#user-picked-date{
	margin:0px auto;
}

.today-date{
	margin:0px auto;

}

.row{
	/*display: flex;*/
	/*display:inline-block;*/ 
    margin: 0px auto;
}

.col{
	width:110px;
	height:100px;
	/* margin:auto; */
	border: 1px solid rgba(96, 125, 139, 0.32);
	/* display:flex; */
	display: inline-block;
}

.item{
	margin: 5px 0 0 5px;
}

#weekdayname-row * .item{
	font-family: 'Arimo', sans-serif !important;	
	font-weight: 700;
	font-size: 14px;
}



.date-nav{
	cursor: pointer;
}

.today{
	background-color: hsla(88, 50%, 53%, 0.40);
}

.this-month{
	background-color: hsla(88, 50%, 53%, 0.24);
}

.weekday-name,
.weekday-name .item{
	background-color: hsla(199, 98%, 48%, 0.25);
}

